<!-- Navbar del Cliente -->
<!-- <app-navbar *ngIf="esCliente() && !esPaginaDeAuth()"></app-navbar> -->

<!-- Navbar del Admin -->
<!-- <app-navbar-admin *ngIf="esAdmin() && !esPaginaDeAuth()"></app-navbar-admin> -->

<!-- Navbar del Trabajador -->
<!-- <app-navbar-trabajador *ngIf="esTrabajador() && !esPaginaDeAuth()"></app-navbar-trabajador> -->



<!-- NAVEGADOR  PARA EL CLIENTE -->

<!-- NAVEGADOR  PARA EL ADMIN -->

<!-- NAVEGADOR  PARA EL TRABAJADOR -->


<!-- Contenido principal -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<app-footer></app-footer>
 
